<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dictionary | Search</title>
    <link rel="stylesheet" href="css/dictionary.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="title-text">Foxram Dictionary</h1>
      <div class="input-container">
        <input type="text" class="query-field" placeholder="Enter the word" />
        <button class="submit-query-btn">Search</button>
      </div>
      <div class="result"></div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/dictionary.js"></script>
  </body>
</html>

<!-- <div class="card">
          <div class="card-content">
            <p>
              <b>Data:</b>
              <ul><li>
                  <b>1></b> factual information (such as measurements or statistics) used as a basis for reasoning, discussion, or calculation
              </li>
            <li><b>2></b> information in digital form that can be transmitted or processed</li>
            <li><b>3></b> information output by a sensing device or organ that includes both useful and irrelevant or redundant information and must be processed to be meaningful</li>
            </ul>
            <br/>
            <b>Type :</b> noun, plural in form but singular or plural in construction
            </p>
          </div>
        </div>
    **
 *
 *(10) [{…}, {…}, {…}, {…}, {…}, {…}, {…}, {…}, {…}, {…}]
0:
definitions: Array(3)
0: "factual information (such as measurements or statistics) used as a basis for reasoning, discussion, or calculation"
1: "information in digital form that can be transmitted or processed"
2: "information output by a sensing device or organ that includes both useful and irrelevant or redundant information and must be processed to be meaningful"
length: 3
__proto__: Array(0)
name: "data"
type: "noun, plural in form but singular or plural in construction"
__proto__: Object
1: {name: "datum", definitions: Array(2), type: "noun"}
2: {name: "data bank", definitions: Array(1), type: "noun"}
3: {name: "data file", definitions: Array(1), type: "noun"}
4: {name: "data mining", definitions: Array(1), type: "noun"}
5: {name: "data processing", definitions: Array(1), type: "noun"}
6: {name: "data structure", definitions: Array(1), type: "noun"}
7: {name: "data recovery", definitions: Array(1), type: "noun"}
8: {name: "big data", definitions: Array(1), type: "noun"}
9: {name: "flight data recorder", definitions: Array(1), type: "noun"}
length: 10
__proto__: Array(0)
 *
 */
-->
