<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dictionary | Home</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <header class="main-header">
      <div class="nav">
        <nav class="main-nav">
          <div class="logo">
            <h1>Foxram. &TRADE;</h1>
          </div>
          <ul class="nav-links">
            <li>
              <a href="/dictionary" class="nav-link">Use Dictionary now</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
