<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dictionary | Home</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <header class="main-header">
      <div class="nav">
        <nav class="main-nav">
          <div class="logo">
            <h1>Foxram. &TRADE;</h1>
          </div>
          <ul class="nav-links">
            <li>
              <a href="/dictionary" class="nav-link">Use Dictionary now</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header-details">
        <div class="details1">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Accessories-dictionary.svg/1024px-Accessories-dictionary.svg.png"
            alt="Image not available"
          />
        </div>
        <div class="details2">
          <h1>Search words easily !</h1>
          <h1>Improve your Grammar</h1>
          <br />
          <img
            src="https://d1nmgsmu5kd1pz.cloudfront.net/images/store_badges/googleplay-tra-white.png"
            alt="play store link"
          />
          <p>
            * Available on Android devices from 5.5, Size varies with the
            device.
          </p>
        </div>
      </div>
    </header>
  </body>
</html>
